#h1{
    border: 20px blueviolet solid;
    width: 200px;
    height: 165px;
    padding: 40px ;
    margin:50px;   
  
    
}
#h2{
    background-color: gray ;
    padding: 10px 50px ;
    font-size: 24px ;
    margin: 30px 0px 20px ;
    color:darkblue ;
  
}
#h3{
    font-size:15px;
    color: rgb(192, 35, 35);
    text-shadow: 2px 2px 2px;
    margin-top: 20px;
}