table{
    width:100%;
    border-collapse: collapse;
    border-collapse: separate;
    
}

table,th,td{
    border:2px red solid;

}
tr:hover{
    background-color: blueviolet;
    text-align: center;
}

tr:nth-child(odd){
    background-color: aquamarine;
}

tr:nth-child(even){
    background-color: rgb(110, 194, 15);
}

/* background colors */
#p1{
    background-color: blue;

}
#p2{
    background-color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 255);
    background-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
#p3{
    background-color: hsl(hue,saturation,lightness);
    background-color: hsl(120,50%,50%);
    background-color: hsl(240,50%,50%);
    background-color: hsl(360,50%,50%);
    background-color: hsl(0,50%,50%);
    background-color: hsl(0,100%,100%);
    background-color: hsl(0,100%,50%);
}
#p4{
    background-color: rgba(0,255,0,0.5);
    background-color: rgba(0,255,0,0);
    background-color: rgba(0,255,0,1);
}
#p5{
    background-color: hsla(hue,saturation,lightness,alpha);
    background-color: hsla(0,50%,50%,0.5);
    background-color: hsla(0,50%,50%,0);
    background-color: hsla(0,50%,50%,1);
}

/* img{
    float: right;
    float: left;
    float: center;

} */

#d1{
    float: left;
    border: 2px;
}